[flake8]
max-line-length = 79
# django app names:
application_import_names = myapp
import-order-style = google
exclude = 
    */migrations/,
    venv/,
    .git,
    __pycache__
max-complexity = 10
max-expression-complexity = 7

[flake8-quotes]
quote-style = single